@import url(http://fonts.googleapis.com/css?family=Oxygen);
/* Quick reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s,
samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* ----------------------------------------------------------------------
 * General styling
 */
html {
  width: 100%;
  height: 100%;
  min-width: 750px; }

body {
  width: 100%;
  height: 100%;
  font-family: Oxygen, Lucida Grande, Arial, sans-serif;
  background: #ecf0f1; }

#page-wrapper {
  min-height: 100%; }

#page {
  width: 750px;
  margin: 0 auto;
  overflow: auto;
  padding-bottom: 70px;
  z-index: 1; }

#page-background {
  position: absolute;
  top: 154px;
  left: 0;
  right: 0;
  background-color: #ecf0f1;
  color: #ecf0f1;
  z-index: -1; }

h2 {
  margin-top: 40px;
  font-size: 1.75em;
  color: #2980b9; }

.right {
  float: right; }

/* ----------------------------------------------------------------------
 * Content control
 */
#content-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  clear: both;
  z-index: 3; }

.content {
  position: absolute;
  min-width: 690px;
  padding: 30px 30px;
  background-color: #ecf0f1; }

.content-home-height {
  height: 520px; }

.content-resume-height {
  height: 3000px; }

.content-science-height {
  height: 200px; }

.content-development-height {
  height: 200px; }

.content-contact-height {
  height: 160px; }

/* ----------------------------------------------------------------------
 * Parallax animation banner
 */
@keyframes parallax {
  from {
    left: 0; }

  to {
    left: -2000px; } }

@-o-keyframes parallax {
  from {
    left: 0; }

  to {
    left: -2000px; } }

@-moz-keyframes parallax {
  from {
    left: 0; }

  to {
    left: -2000px; } }

@-webkit-keyframes parallax {
  from {
    left: 0; }

  to {
    left: -2000px; } }

#parallax-background {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  height: 100px;
  background: url("../images/bigeq.png") 5% 10%, url("../images/background_binary.png") 90% 110%;
  background-color: #1a1a1a; }

#parallax-overlay {
  height: 100px;
  background-color: rgba(41, 128, 185, 0.6);
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: -1; }

.banner {
  height: 80px;
  padding: 20px 0 0 30px;
  color: #ecf0f1;
  background-color: transparent;
  z-index: 2; }

.banner h1 {
  font-size: 3em;
  font-weight: 100; }

.banner h1 strong {
  font-size: 0.5em;
  font-weight: normal; }

/* ----------------------------------------------------------------------
 * Navigation menu
 */
#menu-background {
  position: absolute;
  height: 30px;
  padding: 12px 0 12px 0;
  top: 100px;
  left: 0;
  right: 0;
  background-color: #2980b9;
  color: #2980b9;
  font-size: 1.5em;
  z-index: -1; }

nav {
  background-color: #2980b9;
  color: #ecf0f1;
  font-size: 1.5em;
  height: 54px;
  z-index: 0; }
  nav a:link, nav a:visited {
    float: left;
    height: 30px;
    display: block;
    padding: 12px 30px;
    text-decoration: none;
    background-color: #2980b9;
    color: #ecf0f1; }
  nav div {
    float: left; }
    nav div nav {
      position: absolute;
      top: 154px;
      z-index: 50;
      width: 8em;
      overflow: hidden;
      font-size: 100%;
      max-height: 0; }
  nav a:hover {
    background-color: #ecf0f1;
    color: #2980b9; }
  nav div:hover {
    float: left; }
    nav div:hover nav {
      position: absolute;
      top: 154px;
      z-index: 50;
      width: 8em;
      overflow: hidden;
      font-size: 100%;
      max-height: 999px;
      height: 270px; }

/* ----------------------------------------------------------------------
 * Footer (sticky!)
 */
footer {
  height: 70px;
  margin-top: -70px;
  width: 100%;
  clear: both;
  background-color: #2980b9; }
  footer p {
    height: 40px;
    padding: 30px 0 0 30px;
    background-color: transparent;
    color: #ecf0f1;
    font-size: 0.6em; }

/* ----------------------------------------------------------------------
 * Page and nav transition animations
 */
.page-setToLeft {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  transform: translateX(-100%); }

.page-setToNormal {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0); }

.page-setToRight {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  transform: translateX(100%); }

@-webkit-keyframes moveToLeft {
  to {
    -webkit-transform: translateX(-100%); } }

@-moz-keyframes moveToLeft {
  to {
    -moz-transform: translateX(-100%); } }

@keyframes moveToLeft {
  to {
    transform: translateX(-100%); } }

.page-moveToLeft {
  -webkit-animation: moveToLeft 0.8s ease both;
  -moz-animation: moveToLeft 0.8s ease both;
  animation: moveToLeft 0.8s ease both; }

@-webkit-keyframes moveToNormal {
  to {
    -webkit-transform: translateX(0); } }

@-moz-keyframes moveToNormal {
  to {
    -moz-transform: translateX(0); } }

@keyframes moveToNormal {
  to {
    transform: translateX(0); } }

.page-moveToNormal {
  -webkit-animation: moveToNormal 0.8s ease both;
  -moz-animation: moveToNormal 0.8s ease both;
  animation: moveToNormal 0.8s ease both; }

@-webkit-keyframes moveToRight {
  to {
    -webkit-transform: translateX(100%); } }

@-moz-keyframes moveToRight {
  to {
    -moz-transform: translateX(100%); } }

@keyframes moveToRight {
  to {
    transform: translateX(100%); } }

.page-moveToRight {
  -webkit-animation: moveToRight 0.8s ease both;
  -moz-animation: moveToRight 0.8s ease both;
  animation: moveToRight 0.8s ease both; }

@-webkit-keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%); }

  to {
    -webkit-transform: translateX(0); } }

@-moz-keyframes moveFromLeft {
  from {
    -moz-transform: translateX(-100%); }

  to {
    -moz-transform: translateX(0); } }

@keyframes moveFromLeft {
  from {
    transform: translateX(-100%); }

  to {
    transform: translateX(0); } }

.page-moveFromLeft {
  -webkit-animation: moveFromLeft 0.8s ease both;
  -moz-animation: moveFromLeft 0.8s ease both;
  animation: moveFromLeft 0.8s ease both; }

@-webkit-keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%); }

  to {
    -webkit-transform: translateX(0); } }

@-moz-keyframes moveFromRight {
  from {
    -moz-transform: translateX(100%); }

  to {
    -moz-transform: translateX(0); } }

@keyframes moveFromRight {
  from {
    transform: translateX(100%); }

  to {
    transform: translateX(0); } }

.page-moveFromRight {
  -webkit-animation: moveFromRight 0.8s ease both;
  -moz-animation: moveFromRight 0.8s ease both;
  animation: moveFromRight 0.8s ease both; }

#dropdown-resume {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

#content-wrapper {
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease; }

#page-background {
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease; }

/* ----------------------------------------------------------------------
 * Individual page content stuff
 */
.bullet-wrapper {
  height: 96px;
  width: 690px; }
  .bullet-wrapper p {
    padding-top: 38px;
    padding-left: 110px; }

.bullet {
  height: 96px;
  width: 96px;
  border-radius: 48px;
  background-color: #2980b9;
  float: left;
  display: block; }
  .bullet p {
    margin: 0;
    background-color: transparent;
    color: #ecf0f1;
    font-size: 1.25em; }

#now {
  padding: 32px 30px; }

#before {
  padding: 32px 20px; }

#school {
  padding: 32px 20px; }

#interests {
  padding: 32px 10px; }

#resume {
  padding: 32px 15px; }

#science {
  padding: 32px 16px; }

#development {
  padding: 32px 30px; }

#contact {
  padding: 32px 14px; }

#content-resume div div p {
  margin: 0; }
#content-resume div p {
  margin: 30px 0px; }
#content-resume div ul {
  margin: 10px 0px 10px 48px; }
  #content-resume div ul li {
    font-size: 0.8em; }
  #content-resume div ul ul li {
    list-style-type: none; }

/* ----------------------------------------------------------------------
 * Miscellaneous
 */
.line {
  margin: 3px 0px;
  height: 1px;
  width: 690px;
  background-color: #2980b9; }

.superscript {
  position: relative;
  bottom: 0.4em;
  font-size: 0.8em; }

.underline {
  text-decoration: underline; }

.italic {
  font-style: italic; }

.hidden {
  display: none; }

.not-hidden {
  display: normal; }
